@model CitasLimatambo.Models.EspecialidadPorSede


<div>
    <h4>EspecialidadPorSede</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idSede)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idSede)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idEspecialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEspecialidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>







<div id="main" class="especialidad">
    <div class="cabecera-banner-page">
        <section class="slider-page">
            <ul class="banner">
                <li style="background-image: url(https://www.crp.com.pe/wp-content/uploads/2018/04/bg-texture-1.jpg)">
                    <div class="container">
                        <h2><span style="">@Html.DisplayFor(model => model.especialidad.nombre)</span></h2>
                        <p style="text-align: justify;">Atención de las enfermedades del corazón y del aparato circulatorio</p>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>

<div class="especialidad">
    <main class="container-detalle-medico">
        <div class="container-plantel-medico">
            <div class="content-plantel-medico">
                <div class="container">
                    <ul id="itemContainerMedico">
                        @foreach (var medico in Model.medicos)
                        {
                            <li>
                                <a href="/medico/@Html.DisplayFor(model => medico.ID)">
                                    <figure>
                                        <img src="@Html.DisplayFor(model => medico.foto)" alt="image">
                                        <p>
                                            <span>
                                                <i class="icon-telefono-home"></i>
                                                (511) 224·2224
                                                <span> (511) 224·2226</span>
                                            </span>
                                            <span>Colegiatura: 44839</span>
                                            <span class="btn btn-green">ver detalles</span>
                                        </p>
                                    </figure>
                                    <div class="contenido">
                                        <span class="btn btn-green">ver detalle</span>
                                        <strong>@Html.DisplayFor(model => medico.apellido)</strong>
                                        <strong>@Html.DisplayFor(model => medico.nombre)</strong>
                                        <span>@Html.DisplayFor(model => medico.especialidadPorSede.especialidad.nombre)</span>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </div>
    </main>
</div>
